<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/static/layui/css/layui.css">
<script type="text/javascript" src="/static/layui/layui.js"></script>
<script src="static/js/jquery-1.8.3.min.js"></script>
<style>
    .titles{
        width: 100%;
        height: 70px;
        line-height: 70px;
        background: #2aabd2;
        color: #fff;
        font-size: 29px;
        text-indent: 53px;
        font-weight: 300;
    }
    .del{
        float: right;
        font-size: 18px;
        margin-right: 30px;
        color: #fff;
        text-decoration: none;
        font-weight: 500;
            text-indent: 0;
    }


.layui-inline{
padding-top:20px

}

</style>
</head>
<body>

 <div class="titles">操作中心
        <a class="del d-name" href="/secede">退出</a>
        <a class="del d-name" href="/staff_index">返回首页</a>
        <span class=" del ">欢迎登陆：{{ request.session.username }}</span>
    </div>
    
    
<form class="layui-form"  action="" id="form_table" lay-filter="example" style="padding-left:50px"  onkeydown="if(event.keyCode==13){return false}" >
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
  <legend>mcn信息添加</legend>
</fieldset>
  <div class="layui-form-item">
    <div class="layui-inline">
	    <label class="layui-form-label">账户名</label>
		    <div class="layui-input-inline">
		      <input type="text" id="account_name" lay-verify="required" lay-reqtext="账户名是必填项，岂能为空？" placeholder="请输入账户名（必填）" autocomplete="off" class="layui-input">
		    </div>
    </div>

    <div class="layui-inline" >
      <label class="layui-form-label">选择平台</label>
      <div class="layui-input-inline">
	      <select id="interest" lay-filter="aihao">
	        <option value="">选择平台（必选）</option>
	        <option value="微博">微博</option>
	        <option value="抖音">抖音</option>
	        <option value="快手">快手</option>
	      </select>
      </div>
    </div>
    
    <div class="layui-inline">
	    <label class="layui-form-label">播放数据</label>
		    <div class="layui-input-inline">
		      <input type="number" id="play_data"  lay-reqtext="播放数据是必填项，岂能为空？" placeholder="请输入播放数据" autocomplete="off" class="layui-input">
		    </div>
    </div>
    <div class="layui-inline">
	    <label class="layui-form-label">点赞数据</label>
		    <div class="layui-input-inline">
		      <input type="number" id="like_data"  lay-reqtext="点赞数据是必填项，岂能为空？" placeholder="请输入点赞数据" autocomplete="off" class="layui-input">
		    </div>
    </div>
    <div class="layui-inline">
	    <label class="layui-form-label">评论数据</label>
		    <div class="layui-input-inline">
		      <input type="number" id="comment_data"  lay-reqtext="评论数据是必填项，岂能为空？" placeholder="请输入评论数据" autocomplete="off" class="layui-input">
		    </div>
    </div>
    <div class="layui-inline">
	    <label class="layui-form-label">转发数据</label>
		    <div class="layui-input-inline">
		      <input type="number" id="transmit_data"  lay-reqtext="转发数据是必填项，岂能为空？" placeholder="请输入转发数据" autocomplete="off" class="layui-input">
		    </div>
    </div>
    <div class="layui-inline">
	    <label class="layui-form-label">mcn信息</label>
		    <div class="layui-input-inline">
		      <input type="text" id="mcn_message" placeholder="请输入mcn信息（非必填项）" class="layui-input">
		    </div>
    </div>
    <div class="layui-inline">
	    <label class="layui-form-label">价格</label>
		    <div class="layui-input-inline">
		      <input type="number" id="mcn_price" lay-verify="required" lay-reqtext="价格是必填项，岂能为空？" placeholder="请输入价格（必填）" autocomplete="off" class="layui-input">
		    </div>
    </div>
    <div class="layui-inline">
	    <label class="layui-form-label">微信号</label>
		    <div class="layui-input-inline">
		      <input type="text" id="mcn_wechat" placeholder="请输入微信号(非必填)"  class="layui-input">
		    </div>
    </div>
    <div class="layui-inline">
	    <label class="layui-form-label">任务状态</label>
		    <div class="layui-input-inline">
				<select id="interest1" lay-filter="aihao">
					        <option value="0">请选择任务状态（必选）</option>
					        <option value="1">沟通中</option>
					        <option value="2">已下单，制作中</option>
					        <option value="3">任务完成</option>
					        <option value="4">沟通完，不合适</option>
				</select>		    
		    </div>
    </div>
    <div class="layui-inline">
	    <label class="layui-form-label">任务链接</label>
		    <div class="layui-input-inline" style="width:250px">
		      <input type="text" id="task_link"  placeholder="当任务状态为（已下单，必须填）"  class="layui-input">
		    </div>
    </div>
    <div class="layui-inline">
	    <label class="layui-form-label">备注</label>
		    <div class="layui-input-inline" style="width:250px">
		      <input type="text" id="remark"  placeholder="备注（非必填）"  class="layui-input">
		    </div>
    </div>
    
    
    
    
    
    <div class="layui-inline">
	    <label class="layui-form-label">视频链接</label>
		    <div class="layui-input-inline" style="width:250px">
		      <input type="text" id="video_link"  placeholder="视频链接（非必填）"  class="layui-input">
		    </div>
    </div>
    <div class="layui-inline">
	    <label class="layui-form-label">粉丝性别倾向</label>
		    <div class="layui-input-inline">
				<select id="sex_tendency" lay-filter="aihao">
					        <option value="">粉丝性别倾向（非必选）</option>
					        <option value="男">男</option>
					        <option value="女">女</option>
					        <option value="均衡">均衡</option>
				</select>		    
		    </div>
    </div>
    <div class="layui-inline">
	    <label class="layui-form-label">达人类别</label>
		    <div class="layui-input-inline">
				<select id="intelligent_type" lay-filter="aihao">
					        <option value="">达人类别（非必选）</option>
					        <option value="优秀">优秀</option>
					        <option value="推荐">推荐</option>
					        <option value="不推荐">不推荐</option>
					        <option value="减价播">减价播</option>
					        <option value="数据作假">数据作假</option>
					        
				</select>		    
		    </div>
    </div>
    
  </div>
  
    <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn" lay-submit lay-filter="formDemo" id="txtBianCeng">立即提交</button>
      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
  </div>
  
  </form>
   <div style="text-align: center" id='btn'>
	<label style="margin-top:20px">搜索mcn账户名</label>
    <div class="layui-inline">
        <input class="layui-input" name="keyword" id="demoReload" autocomplete="off">
    </div>
    <button style="margin-top:20px" class="layui-btn" id="button1" data-type="reload">搜索</button>
</div>
  <table class="layui-hide" id="demo" lay-filter="test"></table>
  <script type="text/html" id="barDemo">
  	<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
</script>

<script>
var value_l=0
layui.use(['form', 'layedit', 'laydate','table'], function(){
	  var form = layui.form
	  ,layer = layui.layer
	  ,layedit = layui.layedit
	  ,table = layui.table //表格
	  ,laydate = layui.laydate;
	  
	  //日期
	  laydate.render({
	    elem: '#date'
	  });
	  laydate.render({
	    elem: '#date1'
	  });
	  
	  //创建一个编辑器
	  var editIndex = layedit.build('LAY_demo_editor');
	//执行一个 table 实例
	  table.render({
	    elem: '#demo'
	    ,height:800
	    ,url: '/get_mcn_data/' //数据接口
	    ,title: '用户表'
	    ,where: {'token': "123","platform":"","principal":"","task_status":""}
	    ,page: true //开启分页
	    ,toolbar: '#toolbarDemo'
	    ,limits: [15,20,50]  //每页条数的选择项，默认：[10,20,30,40,50,60,70,80,90]。
	    ,limit: 15 //每页默认显示的数量
	    ,method:'post'  //提交方式   file_name describe
	    ,cols: [[ //表头          application_status
	      {field: 'id', title: 'id'},
	      {field: 'account_name', title: '账户名'},
	      {field: 'platform', title: '平台名'},
	      {field: 'play_data', title: '播放数据'},
	      {field: 'like_data', title: '点赞数据'},
	      {field: 'comment_data', title: '评论数据'},
	      {field: 'transmit_data', title: '转发数据'},
	      {field: 'mcn_message', title: 'mcn信息'},
	      {field: 'mcn_price', title: '价格'},
	      {field: 'mcn_wechat', title: '微信号'},
	      {field: 'task_status', title: '任务状态'},
	      {field: 'task_link', title: '任务链接'}, 
	      {field: 'principal', title: '负责人'},
	      {field: 'remark', title: '备注'},
	      
	      //新增
	      {field: 'video_link', title: '视频链接'},  
	      {field: 'sex_tendency', title: '粉丝性别倾向'},
	      {field: 'intelligent_type', title: '达人类别'},
	      
	      
	      ,{fixed: 'right', title:'操作', toolbar: '#barDemo'}
	    ]]
	  });
	

	  var $ = layui.$, active = {
	  		    reload: function(){
	  		      var demoReload = $('#demoReload');
	  		      //执行重载
	  		      table.reload('demo', {
	  		        page: {
	  		          curr: 1 //重新从第 1 页开始
	  		        }
	  		        ,where: {
	  		        	token:  demoReload.val()
	  		        }
	  		      });
	  		    }
	    }

	    $('#btn .layui-btn').on('click', function(){
	  	    var type = $(this).data('type');

	  	    active[type] ? active[type].call(this) : '';
	  	  });
	
	
	  form.on('submit(formDemo)', function(data){
		  add_data()
		  return false;         
	});
	  table.on('tool(test)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值" 
		    var data = obj.data //获得当前行数据
		    ,layEvent = obj.event; //获得 lay-event 对应的值
		    if(layEvent === 'edit'){   
		    	//页面层-自定义
		    	layer.open({
                        //layer提供了5种层类型。可传入的值有：0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
                        type: 1,
                        title: "修改信息",
                        area: ['500px', '600px'],
                        content: $("#form_table123")//引用的弹出层的页面层的方式加载修改界面表单
                    });
		    	
		    	document.getElementById("none_id").value=data["id"]

		    	document.getElementById("account_name_1").value=data["account_name"]

                
                $("#interest_1").val(data["platform"]); 
                
		    	document.getElementById("play_data_1").value=data["play_data"]
		    	document.getElementById("like_data_1").value=data["like_data"]
		    	document.getElementById("comment_data_1").value=data["comment_data"]
		    	document.getElementById("transmit_data_1").value=data["transmit_data"]
		    	document.getElementById("mcn_message_1").value=data["mcn_message"]
		    	document.getElementById("mcn_price_1").value=data["mcn_price"]  
		    	document.getElementById("mcn_wechat_1").value=data["mcn_wechat"]
		    	console.log(data["task_status"])
		    	if(data["task_status"]=="沟通中"){
		    		value_l=1
		    	}else if(data["task_status"]=="已下单，制作中"){
		    		value_l=2
		    	}else if(data["task_status"]=="任务完成"){
		    		value_l=3
		    	}else if(data["task_status"]=="沟通完，不合适"){
		    		value_l=4
		    	}

                $("#interest1_1").val(value_l); 
                
		    	document.getElementById("task_link_1").value=data["task_link"]
		    	
		    	document.getElementById("remark_1").value=data["remark"]
		    	
		    	//新增
		    	document.getElementById("video_link_1").value=data["video_link"]
		    	$("#sex_tendency_1").val(data["sex_tendency"]); 
		    	$("#intelligent_type_1").val(data["intelligent_type"]); 
		    	
		    	
		    }
		    
	 });
	  

	  
	  
	  
	  
	  
	  
	  
	
})
function ajax_tijiao1(dict_l){
	
	$.ajax({
	        type:"POST",
	        data: dict_l,
	        url: "{% url 'update_m' %}", //后台处理函数的url 这里用的是static url 需要与urls.py中的name一致
	        cache: false,
	        dataType: "json",
	        success: function(data){
        	   alert(data["status"]);
        	   location.reload();

	       }
	    })
	
}
function ajax_tijiao(dict_l){
	$.ajax({
	        type:"POST",
	        data: dict_l,
	        url: "{% url 'save_mcn_data' %}", //后台处理函数的url 这里用的是static url 需要与urls.py中的name一致
	        cache: false,
	        dataType: "json",
	        success: function(data){
	        	alert(data["status"])
        	    location.reload();
	       }
	    })
}
function affirm_message(dict_m){
	$.ajax({
        type:"POST",
        data: dict_m,
        url: "{% url 'confirmation_message' %}", //后台处理函数的url 这里用的是static url 需要与urls.py中的name一致
        cache: false,
        dataType: "json",
        success: function(data){
    	   if (data["status"]=="1"){
       		   layer.confirm('数据库中已有该单，请确定不要重复下单', {
           		   btn: ['确认','取消'] //按钮
           		 }, function(){
           			ajax_tijiao(dict_l)
           		   //layer.msg('确认成功', {icon: 1});
           		 }, function(){
           			layer.msg('取消成功', {icon: 1});
           		 });
    	   }else{
    		   ajax_tijiao(dict_l)
    	   }
       }
    })
}
function add_data(){
	account_name=$("#account_name").val()
	platform=$("#interest option:selected").val()
	play_data=$("#play_data").val()
	like_data=$("#like_data").val()
	comment_data=$("#comment_data").val()
	transmit_data=$("#transmit_data").val()
	mcn_message=$("#mcn_message").val()
	mcn_price=$("#mcn_price").val()
	mcn_wechat=$("#mcn_wechat").val()
	task_status=$("#interest1 option:selected").val()
	task_link=$("#task_link").val()
	remark=$("#remark").val()
	//新增
	video_link=$("#video_link").val()
	sex_tendency=$("#sex_tendency option:selected").val()
	intelligent_type=$("#intelligent_type option:selected").val()
	
	
	dict_m={
			"account_name":account_name,
			"platform":platform
	}
	dict_l={
		"account_name":account_name,
		"platform":platform,
		"play_data":play_data,
		"like_data":like_data,
		"comment_data":comment_data,
		"transmit_data":transmit_data,
		"mcn_message":mcn_message,
		"mcn_price":mcn_price,
		"mcn_wechat":mcn_wechat,
		"task_status":task_status,
		"task_link":task_link,
		"remark":remark,
		"video_link":video_link,
		"sex_tendency":sex_tendency,
		"intelligent_type":intelligent_type
	}
	if(platform==""){
		alert("选择平台不能为空")
	}else if(task_status=="0"){
		alert("选择任务状态不能为空")
	}else if(task_status=="2"){
		if(task_link==""){
			alert("当前任务状态下，任务链接必须填")
		}else{
			affirm_message(dict_m)
		}
	}else{
		affirm_message(dict_m)
	}
	

	
	

	
	
	
}


</script>


<div  id="form_table123" style="display:none ">
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
  <legend>mcn信息修改</legend>
</fieldset>
  <div class="layui-form-item">
  <input id="none_id" type="text" style="display:none">
    <div class="layui-inline">
	    <label class="layui-form-label">账户名</label>
		    <div class="layui-input-inline">
		      <input type="text" id="account_name_1" lay-verify="required" lay-reqtext="账户名是必填项，岂能为空？" placeholder="请输入账户名" autocomplete="off" class="layui-input">
		    </div>
    </div>

    <div class="layui-inline" >
      <label class="layui-form-label">选择平台</label>
      <div class="layui-input-inline">
	      <select id="interest_1" lay-filter="aihao">
	        <option value="">选择平台</option>
	        <option value="微博">微博</option>
	        <option value="抖音">抖音</option>
	        <option value="快手">快手</option>
	      </select>
      </div>
    </div>
    
    <div class="layui-inline">
	    <label class="layui-form-label">播放数据</label>
		    <div class="layui-input-inline">
		      <input type="number" id="play_data_1" lay-verify="required" lay-reqtext="播放数据是必填项，岂能为空？" placeholder="请输入播放数据" autocomplete="off" class="layui-input">
		    </div>
    </div>
    <div class="layui-inline">
	    <label class="layui-form-label">点赞数据</label>
		    <div class="layui-input-inline">
		      <input type="number" id="like_data_1" lay-verify="required" lay-reqtext="点赞数据是必填项，岂能为空？" placeholder="请输入点赞数据" autocomplete="off" class="layui-input">
		    </div>
    </div>
    <div class="layui-inline">
	    <label class="layui-form-label">评论数据</label>
		    <div class="layui-input-inline">
		      <input type="number" id="comment_data_1" lay-verify="required" lay-reqtext="评论数据是必填项，岂能为空？" placeholder="请输入评论数据" autocomplete="off" class="layui-input">
		    </div>
    </div>
    <div class="layui-inline">
	    <label class="layui-form-label">转发数据</label>
		    <div class="layui-input-inline">
		      <input type="number" id="transmit_data_1" lay-verify="required" lay-reqtext="转发数据是必填项，岂能为空？" placeholder="请输入转发数据" autocomplete="off" class="layui-input">
		    </div>
    </div>
    <div class="layui-inline">
	    <label class="layui-form-label">mcn信息</label>
		    <div class="layui-input-inline">
		      <input type="text" id="mcn_message_1" placeholder="请输入mcn信息（非必填项）" class="layui-input">
		    </div>
    </div>
    <div class="layui-inline">
	    <label class="layui-form-label">价格</label>
		    <div class="layui-input-inline">
		      <input type="number" id="mcn_price_1" lay-verify="required" lay-reqtext="价格是必填项，岂能为空？" placeholder="请输入价格" autocomplete="off" class="layui-input">
		    </div>
    </div>
    <div class="layui-inline">
	    <label class="layui-form-label">微信号</label> 
		    <div class="layui-input-inline">
		      <input type="text" id="mcn_wechat_1" placeholder="请输入微信号(非必填)"  class="layui-input">
		    </div>
    </div>
    <div class="layui-inline">
	    <label class="layui-form-label">任务状态</label>
		    <div class="layui-input-inline">
				<select id="interest1_1" lay-filter="aihao">
					        <option value="0">请选择任务状态</option>
					        <option value="1">沟通中</option>
					        <option value="2">已下单，制作中</option>
					        <option value="3">任务完成</option>
					        <option value="4">沟通完，不合适</option>
				</select>		    
		    </div>
    </div>
    <div class="layui-inline">
	    <label class="layui-form-label">任务链接</label>
		    <div class="layui-input-inline" style="width:250px">
		      <input type="text" id="task_link_1"  placeholder="当任务状态为（已下单，必须填）"  class="layui-input">
		    </div>
    </div>
    <div class="layui-inline">
	    <label class="layui-form-label">备注</label>
		    <div class="layui-input-inline" style="width:250px">
		      <input type="text" id="remark_1"  placeholder="备注（非必填）"  class="layui-input">
		    </div>
    </div>

    
        <div class="layui-inline">
	    <label class="layui-form-label">视频链接</label>
		    <div class="layui-input-inline" style="width:250px">
		      <input type="text" id="video_link_1"  placeholder="视频链接（非必填）"  class="layui-input">
		    </div>
    </div>
    <div class="layui-inline">
	    <label class="layui-form-label">粉丝性别倾向</label>
		    <div class="layui-input-inline">
				<select id="sex_tendency_1" lay-filter="aihao">
					        <option value="">粉丝性别倾向（非必选）</option>
					        <option value="男">男</option>
					        <option value="女">女</option>
					        <option value="均衡">均衡</option>
				</select>		    
		    </div>
    </div>
    <div class="layui-inline">
	    <label class="layui-form-label">达人类别</label>
		    <div class="layui-input-inline">
				<select id="intelligent_type_1" lay-filter="aihao">
					        <option value="">达人类别（非必选）</option>
					        <option value="优秀">优秀</option>
					        <option value="推荐">推荐</option>
					        <option value="不推荐">不推荐</option>
					        <option value="减价播">减价播</option>
					        <option value="数据作假">数据作假</option>
					        
				</select>		    
		    </div>
    </div>
    
    
    
  </div>
  
    <div class="layui-form-item">
    <div class="layui-input-block">
       <button class="layui-btn"  id="selectRoleUser">立即提交</button>
       
	    </div>
  </div>
  </div>

<script>

$("#selectRoleUser").bind("click",
	    function(){
	
	none_id=$("#none_id").val()
	account_name=$("#account_name_1").val()
	platform=$("#interest_1 option:selected").val()
	play_data=$("#play_data_1").val()
	like_data=$("#like_data_1").val()
	comment_data=$("#comment_data_1").val()
	transmit_data=$("#transmit_data_1").val()
	mcn_message=$("#mcn_message_1").val()
	mcn_price=$("#mcn_price_1").val()
	mcn_wechat=$("#mcn_wechat_1").val()
	task_status=$("#interest1_1 option:selected").val()
	task_link=$("#task_link_1").val()
	remark=$("#remark_1").val()
	//新增
	video_link=$("#video_link_1").val()
	sex_tendency=$("#sex_tendency_1 option:selected").val()
	intelligent_type=$("#intelligent_type_1 option:selected").val()
	
	
	
	dict_l={
		"none_id":none_id,
		"account_name":account_name,
		"platform":platform,
		"play_data":play_data,
		"like_data":like_data,
		"comment_data":comment_data,
		"transmit_data":transmit_data,
		"mcn_message":mcn_message,
		"mcn_price":mcn_price,
		"mcn_wechat":mcn_wechat,
		"task_status":task_status,
		"task_link":task_link,
		"remark":remark,
		
		"video_link":video_link,
		"sex_tendency":sex_tendency,
		"intelligent_type":intelligent_type
	}
	
	
	if(platform==""){
		alert("选择平台不能为空")
	}else if(task_status=="0"){
		alert("选择任务状态不能为空")
	}else if(task_status=="2"){
		if(task_link==""){
			alert("当前任务状态下，任务链接必须填")
		}else{
			ajax_tijiao1(dict_l)   
		}
	}else{
		ajax_tijiao1(dict_l)
	}
	
	});



</script>
</body>
</html>